html * {
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    31deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(4, 45, 11, 1) 44%,
    rgba(0, 0, 0, 1) 100%
  );

  height: 100vh;
  counter-reset: section;
}

.container {
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}
#app {
  width: 65%;
  background-color: rgba(0, 0, 0, 0.426);
  border-radius: 10px;
  box-shadow: 0 0 20px #8fc397;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 20px;
  color: white;
}
#playListsWrapper {
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.foxImage {
  display: block;
  grid-column: 1/2;
  display: block;
  margin: 20px;
}
.foxImage img {
  width: 50%;
}
.albumImage {
  grid-column: 2/3;
  display: block;
  justify-self: right;
  margin: 20px;
  text-align-last: end;
}
.playlistsSide {
  display: grid;
  grid-column: 1/3;
  margin: 20px;
}
.albumImage img {
  width: 60%;
}
.playlist {
  list-style: none;
  padding: 10px;
}
.song {
  list-style: decimal;
  padding: 10px;
}
#selectSong {
  grid-column: 2/3;
  margin: 20px;
}
#selectSong li {
  background-color: rgba(16, 78, 2, 0.225);
  border: 2px solid rgba(15, 49, 25, 0.719);
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.allPlaylists {
  height: 230px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
  display: flex;
  flex-direction: column;
}
.allPlaylists li {
  height: 35px;
  background-color: rgba(16, 78, 2, 0.225);
  border: 2px solid rgba(15, 49, 25, 0.719);
  border-radius: 10px;
  display: flex;
  align-items: center;
  color: white;
}
.songsWrapper {
  height: 375px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
  display: flex;
  flex-direction: column;
}
.songsWrapper li {
  height: 35px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  color: white;
}
.songsWrapper li::before {
  counter-increment: section;
  content: counter(section);
  position: sticky;
}
.songTitle {
  margin-left: 20px;
}
.allPlaylists::-webkit-scrollbar,
.songsWrapper::-webkit-scrollbar {
  background-color: rgb(255, 255, 255) !important;
  width: 10px;
}
.allPlaylists::-webkit-scrollbar-thumb,
.songsWrapper::-webkit-scrollbar-thumb {
  background-color: #c6e6cb;
  border-radius: 10px;
}
#currentlyPlaying {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  grid-column: 1/3;
  background-color: #c6e6cb6f;
  height: 70px;
  padding: 10px;
}
audio {
  width: 60%;
}
audio::-webkit-media-controls-play-button {
  display: none;
}

audio::-webkit-media-controls-panel {
  background-color: #c6e6cb;
}
.audioPlayer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#previous img {
  transform: scaleX(-1);
}
.controlers {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}
audio {
  grid-column: 2/4;
  grid-row: 1/2;
}

#play .pause {
  display: none;
}

#play.active .pause {
  display: block;
}
#play.active .play {
  display: none;
}
